@media (max-width: 900px) {
    .container {
        flex-direction: column;
        margin: 30px;
    }
    * {
        background-color: lightcoral;
        color: black;
    }
    .container-inf {
        color: black;
    }
    li {
        color: black;
    }
}